%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-start-center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

%flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

%flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex-between-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

%flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
