@import './variable.scss';

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
		Tahoma, Arial, 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei',
		sans-serif;
}

* {
	box-sizing: border-box;
	// color: $defaultColor;
	&:focus {
		outline: none;
	}
}

:global {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		margin-bottom: 0;
		margin-top: 0;
	}
	body {
		background-color: $defaultBgColor !important;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
	button {
		cursor: pointer;
		outline: none;
		border-radius: 1px;
		border: 1px solid #666;
		background: #262626;
		padding: 5px 15px;
	}

	input.default__style,
	textarea.default__style {
		width: 100%;
		height: 40px;
		line-height: 40px;
		border-radius: 3px;
		background-color: #3f4247;
		border: 1px solid #3a3b3e;
		padding: 0 10px;
	}
	textarea.textarea__style {
		height: 120px;
		line-height: 20px;
	}
	#root {
		.ant-layout-sider {
			background: #24232e;
		}
		.ant-menu-submenu > .ant-menu {
			background-color: #1a1921;
		}
		.ant-checkbox-checked .ant-checkbox-inner::after {
			border-color: #e5e5e5;
		}

		.for-container {
			border: none;
		}
		.for-container .for-editor .for-editor-edit .for-line-num {
			background: #1a1921;
			color: #fff;
		}
		.for-container .for-editor {
			background: #1a1921;
		}
		.for-container .for-editor .for-panel .for-preview {
			background: #1a1921;
		}
		.for-container .for-editor .for-panel.for-active .for-editor-block {
			border-right: 1px solid #4b474e;
		}
	}
}
