$defaultColor: #fff;
$defaultBgColor: #2a2a2a;
$defaultLineColor: rgba(255, 255, 255, 0.05);

$contentBgColor: #202121;
$highlightBgColor: #171717;

$textColor: #3f4247;
$sidebar: #353738;

$bgcolor1: #a6a6a6;
$bgcolor2: #040404;
$bgcolor3: #575757;
$bgcolor4: #7b7c7c;
$bgcolor5: #04f5f5;
