@import 'global/asset/styles/flex.scss';

$var: 10px;

.container {
	@extend %flex-center;
	flex-direction: column;

	width: calc(100% - #{$var});
	height: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: linen;
}
