@import 'globals/asset/style/extendsFlex.scss';
@import 'globals/asset/style/variable.scss';

.articleContainer {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	// grid-template-columns: 1fr 1fr;
}

.extraContainer {
	@extend %flex-center;
	flex-direction: column;
	align-items: flex-end;
	span {
		margin: 0 0 0 8px;
	}
	p {
		margin: 0;
	}
}
