@import 'globals/asset/style/extendsFlex.scss';
@import 'globals/asset/style/variable.scss';

.article-container,
.article-item,
.article-title,
.article-introduce {
	border-radius: 3px;
}

.article-container {
	padding: 15px;
	background-color: $bgcolor1;
}

.article-item {
	@extend %flex-start;
	flex-direction: column;
	padding: 15px;
	margin: 10px 0;
	border-radius: 3px;
	background-color: $bgcolor3;
}

.article-title {
	width: 100%;
	font-size: 38px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: color ease 0.5s;
	&:hover {
		color: $bgcolor5;
	}
}

.article-introduce {
	width: 100%;
	min-height: 120px;
	padding: 10px 5px;
	border: 1px solid #e0e0e0;
}
