@import 'globals/asset/style/extendsFlex.scss';
@import 'globals/asset/style/variable.scss';

.loginContainer {
	@extend %flex-column-center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
}

.loginButtonContainer {
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
	margin-top: 20px;

	& > button {
		grid-column-end: 4;
	}
}
